extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/create.css')
  block styles

block content
  div.nav
    div.links
        a.btn.light-blue(href='/catalog/record/create') New Record
        a.btn.light-blue(href='/catalog/recordcopy/create') New Copy
        a.focus.btn.light-blue New Artist
        a.btn.light-blue(href='/catalog/genre/create') New Genre 
  form(method='POST')
    h1.form-title #{title}
    div.input-group
      label Artist Name 
      input(type='text', name='name', maxlength='30', placeholder='--Please enter the artist name--', value=(artist===undefined ? '' : artist.name) required)
    button.btn.light-green(type='submit') Submit
    if errors
      div
        each error in errors
          p #{error.msg}