extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/create.css')
  block styles

block content
  div.nav
    div.links
        a(href='/catalog/record/create') New Record
        a(href='/catalog/recordcopy/create') New Record Copy
        a.focus New Artist
        a(href='/catalog/genre/create') New Genre 
  form(method='POST')
    h1.form-title New Artist
    div.input-group
      label Artist Name 
      input(type='text', name='artist', maxlength='12', placeholder='--Please enter the artist\'s name--', required)
    button.submit-button(type='submit') Submit 