doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    block styles
  body
  header
    div(class='header-content')
      div 
        h1.main-header-h1 Wax Nostalgia
        h2 Inventory 
      div
        a.btn.light-blue(href='/catalog') all
        a.btn.light-blue(href='/catalog/record/create') new
  div(class='main-content')
    block content
