doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
  header
    div(class='header-content')
      div 
        h1 Wax Nostalgia
        h2 Inventory 
      div
        a(href='/catalog') all
        a(href='/catalog/record/create') new
        a search
  div(class='main-content')
    block content
