extends layout

block styles  
  link(rel='stylesheet', href='/stylesheets/create.css')

block content
  div.nav
    div.links
        a.focus New Record
        a(href='/catalog/recordcopy/create') New Record Copy
        a(href='/catalog/artist/create') New Artist
        a(href='/catalog/genre/create') New Genre 
  form(method='POST')
    h1.form-title New Record
    div.input-group
      label Title 
      input(type='text', placeholder='--Please provide the title of this record--', name="title" required)
    div.input-group
      label(for='artist') Artist
      select(name='artist' required)
        option(value='') --Please select an artist--
        for artist in artists
            option(value=artist.name) #{artist.name}
    div.input-group
      label Tracklist 
      input(type='text', placeholder='--Please list tracks separated by comma--' name="tracklist" required)
    div.input-group
      label(for='genre') Genre
      select(name='genre' required)
        option(value='') --Please select a genre--
        for genre in genres
            option(value=genre.name) #{genre.name}
    div.input-group
      label(for='format') Format
      select(name='format' required)
        option(value='') --Please select a format--
        option(value='Album') Album
        option(value='Single') Single
    div.input-group
      label Year (YYYY) 
      input(type='number', name='year', max='9999', pattern='\d{4}', placeholder='--Please enter the year released (YYYY)--', required)
    div.input-group
      label Cover Art
      input(type='file', name='cover-art', accept='image/png, image/jpeg')
    button.submit-button(type='submit') Submit 