.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.form-title {
  color: black;
  text-align: center;
}

.links {
  display: flex;
  gap: 1rem;
}

.focus {
  background-color: black;
}

.input-group {
  display: grid;
  gap: 0.3rem;
}

.input-group input, .input-group select, .input-group textarea {
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

textarea {
  resize: none;
}

.input-group input::placeholder, .input-group textarea::placeholder, .input-group select::placeholder {
  color: black;
  font-family: sans-serif;
}

.input-group, .small-inputs {
  width: 500px;
}

form {
  display: grid;
  row-gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.small-inputs {
  display: flex;
  justify-content: space-evenly;
}

a, button {
  border-radius: 5px;
  background: #00e1ff;
  width: 165px;
  height: 53px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

button {
  border: none;
}

.submit-button {
  background-color: aquamarine;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 800;
  font-family: 'Jura', sans-serif;
}

.submit-button:hover {
  background-color: black;
  color: white;
}

.stars {
  display: flex;
  gap: 0.5rem;
}

.star {
  visibility:hidden;
  cursor:pointer;
}
.star:before {
 content: "\2606";
 visibility:visible;
}
.star:checked:before {
 content: "\2605";
 color: rgb(255, 225, 0);
}

