.detail-title {
  color: black;
  text-align: center;
}

.detail-grid {
  margin-top: 3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.detail-img {
  width: 500px;
  height: auto;
}

.small-detail-img {
  width: 50px;
  height: auto;
}

.detail-info {
  display: grid;
  height: 100%;
  gap: 1rem;
  align-items: center;
}

.detail-info p {
  font-size: 1.5rem;
}

.detail-links {
  grid-column: span 2;
  display: flex;
  gap: 4rem;
}

.tracks {
  padding: 0 2rem;
}

.copies {
  grid-column: 1/3;
  display: grid;
  gap: 1rem;
}

.detail-copies-in-stock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.detail-copies-in-stock a {
  width: 100px;
  height: 20px;
}

.artist-detail-container {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.artist-detail-container h1 {
  text-align: center;
  grid-column: 1/3;
}