@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Jura', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D9D9D9;
}

img {
  width: 100%;
  aspect-ratio: 1;
}

.main-content {
  max-width: 1065px;
  margin: 0 auto;
}

.btn {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 800;
  font-family: 'Jura', sans-serif;
  border-radius: 5px;
  width: 165px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.light-blue {
  background: #00e1ff;
}

.light-green {
  background-color: aquamarine;
}

.light-red {
  background-color: rgb(255, 140, 127);
}