.main-header-h1 {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header {
  height: 90px;
  flex-shrink: 0;
  background-color: #001549;
  color: white;
  padding: 0 1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.header-content>div {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}